.contact {
  background-image: linear-gradient(
      105deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.95) 50%,
      transparent 50%
    ),
    url('../images/form-img.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //   min-height: 100vh;
  overflow: hidden;
  button {
    background-color: #fc7922;
    color: #fff;
  }
}

@media (max-width: 776px) {
  .contact {
    background-image: linear-gradient(
        105deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.95) 68%,
        transparent 50%
      ),
      url('../images/form-img.jpeg');
  }
}

@media (max-width: 572px) {
  .contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.95)),
      url('../images/form-img.jpeg');
  }
}
